<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="./css/main.css" rel="stylesheet">
        <title>
            Document
        </title>
    </head>
    <body>
        <div class="v0_3">
            <div class="v7_3">
                <span class="v18_27">감정 쓰레기통</span>
            </div>
            <div class="v4_10">
                <div class="v8_5"></div>
                <div class="v8_6"></div>
            </div>
            <div class="v8_10">
                <div class="v8_11"></div>
                
                <button id = "write" class="w-btn w-btn-indigo" type="button">
                    BUTTON
                </button>
            </div>
        </div>
        <script src = "js/home/home.js"></script>
    </body>
</html>